# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.gitignore
/service.js
/find-service-broker.js
/db_srv.js
/config.json
/decompress
.idea/jsLibraryMappings.xml
.idea/libraries/
.idea/vcs.xml
.idea/workspace.xml
